<div id="sidebar" class="flex-shrink-0 p-3 bg-dark" style="width: 280px;">
    <a href="{{ '/' | relative_url }}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <p class="fs-5 fw-semibold text-light">{{ site.title | escape }}</p>
    </a>
    <ul class="list-unstyled ps-0">
        {% for tag in site.tags %}
        {% assign post_active = false %}
        {% for post in tag[1] %}
            {% if page.url == post.url %}
                {% assign post_active = true %}
            {% endif %}
        {% endfor %}
        <li class="mb-1">
            <button class="btn btn-toggle text-light align-items-center rounded {% if post_active %}btn-active{% else %}collapsed{% endif %}" data-bs-toggle="collapse"
                data-bs-target="#{{ tag[0] }}-collapse" aria-expanded="{% if post_active %}true{% else %}false{% endif %}">
                {{ tag[0] }}
            </button>
            <div class="collapse {% if post_active %}show{% endif %}" id="{{ tag[0] }}-collapse">
                <ul class="btn-toggle-nav active list-unstyled fw-normal pb-1 small">
                    {% for post in tag[1] %}
                    <li><a href="{{ post.url | relative_url }}" class="link-light rounded {% if page.url == post.url %}btn-active{% endif %}">{{ post.page_title | default: post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>